<div class="container text-center" style="color:white;" id="main">

<img src="https://www.freelogodesign.org/file/app/client/thumb/33878734-1ac9-450f-b067-dc8d7d244d5d_200x200.png?1613701561034" id="logo1">
<h1 class="display-4 text-center" style="color: white; margin-top: 0px;margin-bottom: 20px; font-family: 'Dancing Script', cursive;">Create a new Cocktail</h1>


<%= simple_form_for @cocktail do |f| %>
<div id="formholder" class="container text-center">
  <%= f.input :name,  label: "Cocktail Name", :class => "centerinput", style: "color: white" %>
  <%= f.button :submit, :class => "subbtn" %>
   <%= f.input :photo, as: :file %>

  <% end %>

</div>

</div>
